@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
}

.ExpandingCards{  
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.ExpandingCards>.panel{
  position: relative;

  height: 400px;
  flex: 1;
  overflow: hidden;
  border-radius: 40px;
  cursor: pointer;

  color: white;
  transition: all 0.7s ease-in;
  -webkit-transition: all 0.7s ease-in;
}

.ExpandingCards>.panel>h3{
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: max-content;  
  opacity: 0;
  transition: opacity 0.5s ease-in 0.5s;
}

.ExpandingCards>.active{
  flex: 6;
}

.ExpandingCards>.active h3{
  opacity: 1;
}

@media screen and (max-width:500px) {
  .ExpandingCards{
    flex-flow: column nowrap;
    height: 400px;
  }
}