.Artical {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.Artical>section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

.ArticalItem {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding: 0.8rem;
    border-radius: 4px;
    text-decoration: none;
}

.ArticalItem:hover {
    background-color: var(--dark-bgcolor);
}

.ArticalItem>h3 {
    margin: 0;
    color: var(--strong-color);    
    font-size: 1rem;
}

.ArticalItem>span {
    color: var(--dark-font-color);
    font-size: 0.6rem;
}