.jiuGongGe {
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    height: 300px;
}

.jiuGongGeChild {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}

.jiuGongGeItem {
    flex: 1;
    background-color: rgb(229, 239, 144);
    border: 1px solid black;
}

.jiuGongGeByGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
}

.jiuGongGeByGridItem {
    border: 1px solid black;
    background-color: rgb(187, 233, 123);
}

.leftFixedRightAutofit {
    overflow: hidden;
    height: 300px;
}

.leftFixedRightAutofit>.leftPart {
    float: left;
    width: 200px;
    height: 100%;
    background-color: rgb(168, 205, 238);
}

.leftFixedRightAutofit>.rightPart {
    width: auto;
    height: 100%;
    background-color: rgb(228, 244, 184);
}

.sanlie {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: minmax(0, 1fr) 200px minmax(0, 1fr);
}

.sanlie>* {
    height: 400px;
}

.sanlie>.left {
    grid-column: 1;
    background-color: red;
}

.sanlie>.mid {
    grid-column: 2;
    background-color: yellow;
}

.sanlie>.right {
    grid-column: 3;
    background-color: green;
}

.posAbsolute {
    position: absolute;
    box-sizing: content-box;
    width: 300px;
    height: 300px;
    padding: 40px;
    background-color: yellow;
    border: 1px solid black;
}

.posAbsoluteChild {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
}