.doubleCard {
    width: 180px;
    height: 220px;
}

.doubleCard h1 {
    font-size: 1rem;
    margin: 0;
    border-bottom: 1px solid black;
}

.doubleCard p {
    font-size: 0.6rem;
}

.doubleCard>.show {
    position: relative;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transition: all 0.4s;
}

.doubleCard>.show>* {
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 1rem;
    border-radius: 16px;
    border: none;
    background-color: var(--dark-bgcolor);
}

.doubleCard .front {
    transform: translateZ(1px);
}

.doubleCard .back {
    transform: rotateY(180deg);
}

.doubleCard:hover>.show {
    transform: rotateY(180deg);
}