@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

#RotatingNavAnimation {
  overflow-x: hidden;
}

#RotatingNavAnimation .container {
  position: relative;
  transform-origin: top left;
  width: 100%;
  min-height: 100%;
  padding: 50px;
  background-color: var(--bgcolor);
  transition: transform 0.5s linear;
}

#RotatingNavAnimation .container.show-nav {
  transform: rotate(-20deg);
}

#RotatingNavAnimation .circle-container {
  position: absolute;
  top: -100px;
  left: -100px;
}

#RotatingNavAnimation .circle {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #ff7979;
  border-radius: 50%;
  transition: transform 0.5s linear;
}

#RotatingNavAnimation .container.show-nav .circle {
  transform: rotate(-70deg);
}

#RotatingNavAnimation .circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  font-size: 26px;
  color: #fff;
  background: transparent;
  border: 0;
  cursor: pointer;
}

#RotatingNavAnimation .circle button:focus {
  outline: none;
}

#RotatingNavAnimation .circle button#open {
  left: 60%;
}

#RotatingNavAnimation .circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

#RotatingNavAnimation .container.show-nav+nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

#RotatingNavAnimation nav {
  z-index: 100;
  position: absolute;
  bottom: 40px;
  left: 0;
}

#RotatingNavAnimation nav ul {
  padding-left: 30px;
  list-style-type: none;
}

#RotatingNavAnimation nav ul li {
  margin: 40px 0;
  transform: translateX(-100%);
  text-transform: uppercase;
  color: var(--font-color);
  transition: transform 0.4s ease-in;
}

#RotatingNavAnimation nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

#RotatingNavAnimation nav ul li+li {
  transform: translateX(-150%);
  margin-left: 15px;
}

#RotatingNavAnimation nav ul li+li+li {
  margin-left: 30px;
  transform: translateX(-200%);
}

#RotatingNavAnimation nav a {
  color: var(--font-color);
  text-decoration: none;
  transition: all 0.5s;
}

#RotatingNavAnimation nav a:hover {
  font-weight: bold;
}

#RotatingNavAnimation .content {
  max-width: 1000px;
  margin: 50px auto;
}

#RotatingNavAnimation .content img {
  max-width: 100%;
}

#RotatingNavAnimation .content h1 {
  margin: 0;
}

#RotatingNavAnimation .content small {
  color: var(--font-color);
  font-style: italic;
}

#RotatingNavAnimation .content p {
  color: var(--font-size);
  line-height: 1.5;
}