@import '~highlight.js/styles/github.css';

.md {
    padding: 2rem;
    font-size: 1rem;
    color: var(--dark-font-color);
}

.md hr {
    border: none;    
    border-bottom: 2px solid var(--dark-font-color);
    outline: none;
}

.md p {
    color: inherit;
}

.md a {
    color: var(--anchor-color);
    text-decoration: underline;
}

.md a:hover {
    color: var(--anchor-color-hover);
    background-color: var(--anchor-bgcolor-hover);
}

.md li::marker {
    color: inherit;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    color: var(--font-color);
}

.md h1 {
    margin: 2rem auto;
}

.md h2 {
    margin: 1.5rem auto;
}

.md h3,
.md h4,
.md h5,
.md h6 {
    margin: 1rem auto;
}

.md img {
    max-width: 100%;
}

.md blockquote {
    margin: 0.6rem auto;
    padding: 0.4rem 1rem;
    color: var(--blockquote-color);
    border-left: 4px solid;
    border-color: var(--blockquote-border-color);    
    background-color: var(--blockquote-bgcolor);    
}

.md ul,
.md ol {
    padding-left: 2rem;
}

.md pre {
    padding: 1rem;
    margin: 1rem;   
    border: 2px solid var(--code-border-color);
    background-color: var(--code-bgcolor);
    overflow: scroll;
    overflow-y: hidden;
}

.md pre::-webkit-scrollbar {
    height: 3px;
}

.md pre::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bgcolor);
}

.md pre::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bgcolor);
    border-radius: 4px;
}

.md .copy-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.6rem;
    height: 1.6rem;    
    background: url('/public/icons/copyButton.svg') no-repeat center/80%;
    cursor: pointer;
}

.md table{
    border-collapse: collapse;
}

.md thead>tr{    
    border-bottom: 1px solid var(--dark-font-color);
}

.md tbody>tr{    
    border-bottom: 1px solid var(--font-color);
}

.md tbody>tr:last-of-type{    
    border: none;
}

.md thead>tr{
    background-color: var(--dark-bgcolor);
}

.md tbody>tr:nth-of-type(even){
    background-color: var(--dark-bgcolor);
}

.md th,.md td{
    padding: 0.4rem;
}