.darkFontColor {
    color: #34495e
}

.normalFontColor {
    color: #505d6b
}

.lightFontColor {
    color: #858585;
}

.normalFontWeight {
    font-weight: 400;
}

.boldFontWeight {
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

.Docsify {
    --theme-color: #42b983;
    --sider-width: 300px;
    font-size: 15px;
}

.Docsify-header {
    background-color: rgb(122, 186, 215);
}

.Docsify-sider {
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: start;
    width: var(--sider-width);
    overflow-y: auto;
    transition: transform .25s ease-out;
    border-right: 1px solid rgba(0, 0, 0, .07);
    /* background-color: rgb(249, 253, 209); */
}

.Docsify-sider-close {
    transform: translateX(calc(-1*var(--sider-width)));
}

.Docsify-sider::-webkit-scrollbar {
    width: 4px;
}

.Docsify-sider:-webkit-scrollbar-thumb,
.Docsify-sider:hover::-webkit-scrollbar-track {
    background-color: transparent;
}

.Docsify-sider:hover::-webkit-scrollbar-thumb {
    background: rgb(176, 176, 176);
    border-radius: 4px;
}

.Docsify-sider:hover::-webkit-scrollbar-track {
    background-color: rgb(229, 228, 228);
}

.Docsify-sider-nav {
    line-height: 2em;
    color: #505d6b;
}

.Docsify-sider-nav>ul li {
    list-style: none;
}

.Docsify-sider-nav li a {
    color: inherit;
    font-size: 14px;
    font-weight: inherit;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.Docsify-sider-nav ul li a:hover {
    text-decoration: underline;
}

.Docsify-sider-nav ul {
    margin: 0 0 0 15px;
    padding: 0;
}

.Docsify-sider-nav-li-active {
    color: var(--theme-color, #42b983);
    border-right: 2px solid var(--theme-color, #42b983);
}

.Docsify-content {
    position: absolute;
    top: 0;
    right: 0;
    left: var(--sider-width);
    bottom: 0;
    text-align: start;
    transition: left .25s ease-out;
    padding-top: 60px;
    /* background-color: turquoise; */
}

.Docsify-content-close {
    left: 60px;
}

.Docsify-content-artical {
    margin: 0 auto;
    max-width: 80%;
    padding: 30px 15px 40px;
    position: relative;
}

.Docsify-content-artical hr {
    border: none;
    height: 2px;
    background-color: #d9d2d2;
}

.Docsify-content-artical img {
    max-width: 100%;
}

.Docsify-content-artical p {
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 4px;
    max-width: 90%;
    background-color: rgb(231, 232, 233);
}

.Docsify-content-artical h1>a {
    color: #505d6b;
    text-decoration: none;
}

.Docsify-content-artical h1>a:hover {
    text-decoration: underline var(--theme-color);
}

.Docsify-content-artical a{
    color:var(--theme-color);
    text-decoration: underline;
}

.Docsify-content-artical-h3 {
    font-size: 1.5rem;
    margin: 40px 0 0.6rem;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0.6rem;
    margin-left: 0px;
}

.Docsify-content-artical-h2 {
    font-size: 1.75rem;
    margin: 45px 0 0.8rem;
}

.Docsify-content-artical-h1 {
    font-size: 2rem;
    margin: 0 0 1rem;
}

.Docsify-sider-toggle {
    z-index: 20;
    padding: 10px;
    width: calc(var(--sider-width) - 6px);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.709);
    bottom: 0;
    left: 0;
}

.Docsify-sider-toggle-close {
    width: auto;
}

.Docsify-sider-toggle>div>span {
    display: block;
    width: 20px;
    height: 6px;
    border-top: 2px solid var(--theme-color);
}