.siderbar{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--siderbar-height);
    background-color: var(--dark-bgcolor);
    display: grid;
    grid-template-columns: minmax(0,0.8fr) minmax(0,2fr) minmax(0,0.8fr); 
    grid-template-rows: var(--siderbar-height); 
}

.innerbar{
    grid-column: 2;

    color:var(--dark-font-color);
    font-size: 0.6rem;
    
    padding: 1rem 0;     
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.innerbar>.brand{
    font-size: 1rem;
}

.innerbar>nav{    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.innerbar img,.innerbar svg{
    width: 1.4rem;
    height: 1.4rem;
}

.innerbar a{
    cursor: pointer;

    color: inherit;
    text-decoration: none;
    
    margin: 0 0.2rem;
    border-radius: 0.2rem;

    padding: 0.1rem 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerbar a:hover,.themeToggle:hover{
    color:var(--nav-hover-color);
    background-color: var(--nav-hover-bgcolor);
}

.innerbar svg{
    fill:var(--svg-fill-color);
}