.dark{
    --primary:var(--light-black);
    --color:var(--light-grey);
    --blockquote-border-color:rgb(121, 187, 139);
    --blockquote-background-color:grey;
    --blockquote-color:var(--light-grey);
    --hr-color:grey;
    --anchor-color:skyblue;
    --anchor-color-hover:white;
    --anchor-bgcolor-hover:rgb(199, 157, 255);
    --li-marker-color: var(--light-grey);
    --scrollbar-thumb-color:grey;
    --h1-color:white;
    --h2-color:var(--oringe);
    --h3-color:var(--oringe);
    --p-color:var(--color);
    --card-color:var(--light-grey);
    --card-bgcolor:var(--black);
    --card-border-color:black;
    --code-bgcolor:var(--black);
    --code-border-color:grey;
}

.dark{
    background-color: var(--primary);
    color: var(--color);
}

.dark .Product>section a>span:hover{
    border-color: var(--oringe);
    color: var(--oringe);
}