/* @import './newMoon.css'; */
@import './dark.css';
/* @import './light.css'; */
@import '~highlight.js/styles/github.css';

:root{
    --siderbar-height:60px;
    --footer-height:160px;
    --black:rgb(30, 30, 30);
    --light-black:rgb(40, 44, 52);
    --light-grey:rgb(236, 236, 236);
    --oringe:#fdb54a;
}

::-webkit-scrollbar{
    width: 0.4rem;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(55, 61, 72);
}

::-webkit-scrollbar-track{
    background-color: var(--black);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

@media  screen and (max-width:700px){
    html{
        font-size: 12px;
    }        
}

@media screen and (min-width:700px) and (max-width:1000px){
    html{
        font-size: 16px;
    }
}

@media screen and (max-width:700px) {
    .App{
        display: grid;   
        grid-template-columns: 2rem minmax(0,2fr) 2rem;
        grid-template-rows: auto var(--footer-height) ;
    }
}

@media screen and (min-width:700px) {
    .App{
        display: grid;   
        grid-template-columns: minmax(0,0.8fr) minmax(0,2fr) minmax(0,0.8fr);
        grid-template-rows: auto var(--footer-height) ;
    }
}

@media screen and (min-width:1000px){
    html{
        font-size: 24px;
    }
}

body{
    background-color: var(--light-black);
}

.App{
    margin-top: var(--siderbar-height);
}

.App>main{
    grid-column: 2;
    grid-row: 1;
}

.App>main{    
    display: flex;
    flex-flow: column nowrap;    
}

.App>footer{
    height: var(--footer-height);    
    grid-column: 1/4;
    grid-row: 2;
}

.code-slice-container{
    position: relative;
    height: fit-content;        
    font-size: 1rem;
}
.md{    
    padding: 2rem;
    font-size: 1rem;
}

.md h1{
    margin:  2rem auto;
}

.md h2{
    margin:  1.5rem auto;
}

.md h3,.md h4,.md h5,.md h6{
    margin:  1rem auto;
}

.md img{
    max-width: 100%;
}

.md blockquote{
    margin:  0.6rem auto;
    padding: 0.4rem 1rem;
    border-left: 4px solid;
}

.md ul,.md ol{
    padding-left: 2rem;
}

.md pre{     
    padding: 1rem;
    margin: 1rem;
    overflow:scroll;
    border-radius: 0.6rem;
    border: 1px solid;
}

.md pre::-webkit-scrollbar{
    width: auto;
    height: 3px;
}

.md pre::-webkit-scrollbar-thumb,
.md pre::-webkit-scrollbar-track{
    background-color: transparent;
}

.md .copy-button{
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer; 
    background: url('/public/icons/copyButton.svg') no-repeat center/80%;       
}