.newMoon{    
    --bgcolor:#ebdbb2;
    --dark-bgcolor: #f0d69a;
    --strong-color:var(--dark-oringe);
    --font-color:#ca9d32;
    --dark-font-color:#8e670b;
    --card-bgcolor:var(--dark-bgcolor);
    --card-border-color:black;
    --nav-hover-bgcolor:var(--oringe);
    --nav-hover-color:white;
    --svg-fill-color:black;

    --li-marker-color: var(--dark-oringe);
    --anchor-color: grey;
    --anchor-color-hover:white;
    --anchor-bgcolor-hover:rgb(199, 157, 255);
    --code-bgcolor:var(--dark-bgcolor);
    --code-border-color:var(--dark-font-color);
    --scrollbar-thumb-bgcolor:var(--code-border-color);
    --scrollbar-track-bgcolor:var(--dark-font-color);
    --blockquote-border-color:var(--oringe);
    --blockquote-bgcolor:var(--dark-bgcolor);
    --blockquote-color:var(--font-color);
}